@font-face {
  font-family: "iconfont"; /* Project id 2601453 */
  src: url('//qhstaticssl.coohom.com/application/octetstream/1657604665108/iconfont.woff2') format('woff2'),
       url('//qhstaticssl.coohom.com/application/fontwoff/1657604665073/iconfont.woff') format('woff'),
       url('//qhstaticssl.coohom.com/font/ttf/1657604665076/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-title_info:before {
  content: "\e6bd";
}

.icon-icon_favourite:before {
  content: "\e600";
}

.icon-proj_enter_tool:before {
  content: "\e64d";
}

.icon-photostudio_play:before {
  content: "\e68f";
}

.icon-btn_go:before {
  content: "\e64e";
}

.icon-icon_photo_studio_video:before {
  content: "\e6de";
}

.icon-btn_nav_top:before {
  content: "\e603";
}

.icon-nav_account_management:before {
  content: "\e63c";
}

.icon-chk_tick:before {
  content: "\e655";
}

.icon-proj_team_project_user:before {
  content: "\e67e";
}

.icon-go_SaaS:before {
  content: "\e726";
}

.icon-footer_twitter_norma:before {
  content: "\e606";
}

.icon-footer_pinterest_nor:before {
  content: "\e607";
}

.icon-footer_instagram_nor:before {
  content: "\e608";
}

.icon-footer_facebook_norm:before {
  content: "\e609";
}

.icon-btn_arrow_down:before {
  content: "\e689";
}

.icon-icon-header_language:before {
  content: "\e73a";
}

.icon-btn_delete:before {
  content: "\e729";
}

